
/.venv
/.vscode
/Utils/__pycache__
/Utils/rolling_clips
/Utils/rolling_clips_features
/rolling_video_clips
out.csv
/data/dataset
/data/model
/data/test_dataset/audio_features
gt_s6_05.csv
/data/test_dataset/sliding_1s_hop_0p1_all
/main/__pycache__
*.pt
/main/checkpoints

