
/.venv
/.vscode
/Utils/__pycache__
/Utils/rolling_clips
/Utils/rolling_clips_features
/rolling_video_clips
out.csv
/data/dataset
/data/test_dataset/sliding_1s_hop_0p1_all
/main/__pycache__
/webapp/__pycache__
/webapp/generated
/data/test_dataset/full_clips/angle_plots
/data/test_dataset/full_clips/angle_vs_feature_plots/s1_01__gt_s1_01
/data/test_dataset/full_clips/angle_vs_feature_plots
/data/test_dataset/full_clips/audio_feature_plots
/data/model
/main/checkpoints
*.zip
/data
.codex
